{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'title.project_view'|trans }}
{% endblock %}

{% block content %}
    {% include('default/_submenu.html.twig') %}

    <section class="site-main section">

    </section>
{% endblock %}
