{% extends "layout.html.twig" %}

{% block content %}
    <section class="section site-main">
        <div class="pure-g pure-g-wide">
            <div class="pure-u pure-u-1">
                Internal server error.
            </div>
        </div>
    </section>
{% endblock %}
