{#
    Single alert message.

    parameters:
        * `type`: message type (success|info|warning|danger)
        * `message`: message
#}

{# Bootstrap alert, see http://getbootstrap.com/components/#alerts #}
{% if is_single_message|default(true) %}
<section class="section section-alert section-alert-{{ type }} section-collapsed">
    {% endif %}
    <div class="pure-g pure-g-wide">
        <div class="pure-u pure-u-1 alert " role="alert">
            <button type="button" class="pure-button close-alert" aria-label="{{ 'button.close'|trans }}">
                <span class="icon icon-cross" aria-hidden="true"></span>
            </button>
            {% if message|trans is not same as(message) %}
                {{ message|trans }}
            {% else %}
                {{ message }}
            {% endif %}
        </div>
    </div>
    {% if is_single_message|default(true) %}
</section>
{% endif %}