<footer class="site-footer section-collapsed">
    <noscript>
        <div class="pure-g">
            <div class="pure-u-1 nojs-warning">
                <p>{{ 'message.turn_javascript_on'|trans }}</p>
            </div>
        </div>
    </noscript>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-2-5 info">
            <p><strong>Sirk</strong> {{ 'title.slogan'|lower|trans }}</p>
        </div>
        <div class="pure-u-1 pure-u-md-1-5 logo">
            <img class="site-footer-logo" src="{{ asset('img/sirk.svg') }}" alt="Sirk - logo">
        </div>
        <div class="pure-u-1 pure-u-md-2-5 copyright">
            <p><a href="https://mciszczon.pl/" class="site-footer-link">mciszczon.pl</a></p>
        </div>
    </div>
</footer>